<section
  id="headerSection"
  class="flex items-center justify-between p-5 px-32 bg-white w-4/5 m-auto"
>
  <article id="header-photo">
    <img
      alt="myPhoto"
      width="150px"
      src="../../../assets/foto.png"
      class="rounded-[50%]"
    />
  </article>

  <article
    id="header-information"
    class="flex flex-col items-center justify-center"
  >
    <p class="text-xl font-semibold">
      {{ headerInfo.firstName }} {{ headerInfo.lastName }}
    </p>

    <p class="text-gray-600 font-semibold">{{ headerInfo.job }}</p>
    <div class="text-sm flex flex-col items-center justify-center mt-10">
      <p>{{ headerInfo.location }}</p>
      <p>{{ headerInfo.email }}</p>
      <p>{{ headerInfo.phone }}</p>
    </div>
  </article>

  <article id="header-socials" class="flex flex-col gap-6">
    <a target="_blank" [href]="headerInfo.socials.linkedin"
      ><img alt="LinkedinIcon" src="../../../assets/linkedin.svg" width="40" />
    </a>

    <a target="_blank" [href]="headerInfo.socials.github"
      ><img alt="LinkedinIcon" src="../../../assets/github.svg" width="40" />
    </a>
  </article>
</section>
