<section id="headerSection" class="flex items-center justify-around">
  <article id="header-photo">
    <img alt="myPhoto" width="50px" src="../../../assets/foto.png" />
    <p>{{ headerInfo.location }}</p>
    <p>{{ headerInfo.email }}</p>
    <p>{{ headerInfo.phone }}</p>
  </article>

  <article id="header-information">
    <p>{{ headerInfo.firstName }} {{ headerInfo.lastName }}</p>

    <p>{{ headerInfo.job }}</p>
  </article>

  <article id="header-socials">
    <a [href]="headerInfo.socials.linkedin"> LinkedIn </a>

    <a [href]="headerInfo.socials.github"> GitHub </a>
  </article>
</section>
